.sign-up, .login
    {
        text-align: center;
       
    }

    .sign-up h1, .login h1{
        margin-bottom: 34px;
        margin-top: 40px;
            color: blueviolet;

    }

    .lab{
        margin-bottom: 1%;
        color: black;
        text-align: start;
        }
    .auth-toogle-link{
        margin-top: 6px;
        color: blueviolet;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;

    }

  
   

