<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://cdn.shopify.com/s/files/1/0011/8367/8476/products/Truck2_1400x.png?v=1662789388" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price:1000</b></p>
        <p><span>color:Red</span>Category Mobile<span></span></p>
        <p>A Product search UI</p>
    </div>
</div>

<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://cdn.shopify.com/s/files/1/0011/8367/8476/products/Truck2_1400x.png?v=1662789388" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price:1000</b></p>
        <p><span>color:Red</span>Category Mobile<span></span></p>
        <p>A Product search UI</p>
    </div>
</div>

<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://cdn.shopify.com/s/files/1/0011/8367/8476/products/Truck2_1400x.png?v=1662789388" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price:1000</b></p>
        <p><span>color:Red</span>Category Mobile<span></span></p>
        <p>A Product search UI</p>
    </div>
</div>

<div class="row search-item">
    <div class="col-sm-3">
        <img src="https://cdn.shopify.com/s/files/1/0011/8367/8476/products/Truck2_1400x.png?v=1662789388" alt="">
    </div>
    <div class="col-sm-8 details">
        <h6>Product Name</h6>
        <p><b>Price:1000</b></p>
        <p><span>color:Red</span>Category Mobile<span></span></p>
        <p>A Product search UI</p>
    </div>
</div>